

<ion-content class="ion-no-border">
  <ion-tabs class="ion-no-border">
    <ion-tab-bar slot="bottom" color="light" class="ion-no-border">
      <ion-tab-button tab="home">
        <ion-icon  size="small" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>

      </ion-tab-button>
      <ion-tab-button tab="explore">
        <ion-icon size="small" name="cart-outline"></ion-icon>
        <ion-label>Cart</ion-label>

      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon size="small" name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>

      </ion-tab-button>
      <ion-tab-button tab="favorite" style="    border-right: 6px solid var(--ion-color-primary);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;">
        <!-- <ion-icon size="small" name="heart-outline"></ion-icon> -->
        <img style="height: 22px; width:auto" src="assets/icon/delivery-truck.gif" alt="" srcset="">
        <ion-label>Orders</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
