.toolbar{
  --padding-top: 0px !important;
  --padding-start: 0px !important;
  --padding-right: 0px !important;
  --padding-end: 0px !important;
  --height:100px;
}

.profile-icon{
  margin-left: 21px;
  margin-top: -7px;
  position: absolute;
  height: 22px;
  width: auto;
}
img{
  margin-left: 21px;
    margin-top: -7px;
    position: absolute;
}

.titleText{
  color: #181725;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
}

.linkText{
  color: #FF7322;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/* Style the search bar */
/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
  
 
  --background: #19422d;
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;

  --border-radius: 4px;
  --box-shadow:none;
}

ion-searchbar.ios.custom {
  --cancel-button-color: #19422d;
  --box-shadow:none;
}

ion-searchbar.md.custom {
  --cancel-button-color: #fff;
  --box-shadow:none;
}

ion-title{
  font-size: 18px;
}

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 100px;
  gap: 10px;
  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}


.avatar{
  position: relative;
  height: 60px;
    width: 120px;
    border: 1px solid var(--ion-color-dark);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: nowrap;
    background-color: #ceff51;
}

.avatar > p{
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  top: 10px;
  left: 10px;
}
.avatar > img{
  height: 60px;
  width: auto;
  position: absolute;
  bottom: 0px;
}

.banner{
  height: 120px;
  width: 100%;
  margin: 0;
}
.banner > img {
  height: auto;
  width: 100%;
  margin: 0;
}