<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title 
      >Your Location
      <p style="margin: 0; font-size: 12px; color: lightgray">Pune.</p>
    </ion-title>
    <ion-button (click)="openNotifications()" fill="clear" slot="end">
      <ion-icon slot="end" name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="ios"
      class="searchbar"
      placeholder="Search Product"
      animated="true"
      (click)="openSearchModal()"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <swiper-container [slidesPerView]="1.3">
    <swiper-slide *ngFor="let item of banners">
 
          <img [src]="item?.imageUrl" alt="" />
      
    </swiper-slide>
   
  </swiper-container>
<!-- 
  <div>
    <ion-item lines="none">
      <ion-label color="primary" class="titleText">Trending Now</ion-label>
      <ion-label slot="end" class="linkText">See All</ion-label>
    </ion-item>
  </div> -->


  <div>
    <ion-item lines="none">
      <ion-label color="primary" class="titleText">Browse pet types</ion-label>
      <!-- <ion-label slot="end" class="linkText" (click)="openPetPage()">See All</ion-label> -->
    </ion-item>
  </div>

  <swiper-container [slidesPerView]="2.8" [loop]="true">
    <swiper-slide>
      <div class="avatar">
        <img src="assets/pets/dog.png" alt="" srcset="">
        <p>DOGS</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="avatar">
        <img src="assets/pets/cat.png" alt="" srcset="">
        <p>Cats</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="avatar">
        <img src="assets/pets/bird.png" alt="" srcset="">
        <p>BIRDS</p>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="banner">
    <img src="assets/banner-01.jpg" alt="" srcset="">
  </div>
  <div>
    <ion-item lines="none">
      <ion-label color="primary" class="titleText">Top Products</ion-label>
    </ion-item>
  </div>

  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of products">
          <app-product
            [id]="item._id"
            [types]="item.quantities"
            [productName]="item.name"
            [productPrice]="item.quantities[0].discountedPrice"
            [imageUrl]="item.images[0].link"
            [rating]="4.2"
            (addEvent)="addToCart($event)"
          ></app-product>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-modal #modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>30% Off!</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
       <img style="margin: 0px;" src="assets/pets/square-ad.jpeg" alt="" srcset="">
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
